* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    width: 20%;
    display: block;
    background-color: rgb(55 71 79); 
    position: fixed;
    height: 100%;
    overflow: hidden;
    transition: 1s;
}

.profile {
    text-align: center;
    padding: 7% 3%;
    display: flex;
    justify-content: space-between;
}

.profile img {
    width: 45%;
    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 1%;
}

.profile h1 {
    font-family: "Lato", sans-serif;
    font-weight: 200;
    margin-bottom: 3%;
}

.profile i {
    color: white;
    padding: 1% 3%;
}

.yourName {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2%;
    margin: 3% 0%;
}

.yourName img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin: 0% 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 50%;
}

.yourName h1 {
    font-size: 25px;
    font-family: "Lato";
    font-weight: 400;
    color: white;
    text-transform: capitalize;
}

.div1 {
    background-color: #263238;
    padding-bottom: 3%;
}

.menuContent {
    padding: 7% 4%;
}

.dashboard {
    font-size: 22px;
    padding: 7% 3.5%;
    display: flex;
    transition: 1s;
    border-bottom: 1px solid #455A64;
    color: #CFD8DC;
}

.dashboard i {
    color: white;
    width: 15%;
    font-size: 20px;
}

.dashboard i:last-child {
    width: 10%; 
    text-align: center;
}

.dashboard a {
    text-decoration: none;
    color: white;
}

.dashboard:hover {
    background-color: #263238;
}

.container {
    width: 80%;
    margin-left: 20%;
}

.nav-bar {
    width: 100%;
    background-color: rgb(17, 19, 30);
    background-attachment: fixed;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
    transition: 1s;
}

.nav-bar i {
    font-size: 25px;
}

.dropDown {
    position:relative;
    display:inline-block;
}

.dropDownContent {
    position: absolute;
    display: none;
    background-color: white;
    width: 160px;
    right: -10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.dropDownContent li {
    list-style: none;
    padding: 3%;
    margin: 2%;
    transition: 1s;
}

.dropDownContent li:hover {
    background-color: #eeeeee;
}

.dropDownContent i {
    color: black;
    font-size: 18px;
}

.dropDownContent a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.dropDown:hover .dropDownContent {
    display: block;
}

.content {
    padding: 2%;
} 

.div {
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.projects {
    width: 23%;
    background-color: rgb(0, 85, 255);
    padding: 2%;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: 1s;
}

.projects:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.text p {
    font-size: 35px;
    color: white;
}

.text h2 {
    color: white;
}

.i {
    color: rgb(4, 66, 191);
    font-size: 60px;
}

.users {
    width: 23%;
    background-color: rgb(250, 4, 127);
    padding: 2%;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: 1s;
}

.users:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.usersIcon {
    color: rgb(185, 2, 96);
    font-size: 60px;
}

.leaveReq {
    width: 23%;
    background-color: red;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: 1s;
}

.leaveReq:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.leaveIcon {
    color: rgb(155, 4, 4);
    font-size: 60px;
}

.loan {
    width: 23%;
    background-color: rgb(3, 188, 3);
    padding: 2%;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: 1s;
}

.loan:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.loanIcon {
    color: green;
    font-size: 60px;
}

.projectStatus {
    width: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
}

.projectStatusContent {
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.projectStatusText {
    font-size: 22px;
    font-weight: bold;
}

.chart {
    width: 70%;
}

.chart canvas {
    width: 100%;
    max-width: 800px;
}

.projectStatusText p {
    padding: 5% 0%;
}

.projectStatusText p:first-child {
    color: #da3a64;
}

.projectStatusText p:last-child {
    color: #00aba9;
}

.projectStatusText p:nth-child(2){
    color: blueviolet;
}

.status {
    width: 100%;
    display: flex;
}

.statusImg {
    width: 47%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin: 2%;
    border-radius: 10px;
}

.statusImg img {
    width: 100%;
    border-radius: 10px;
}

.todoListContainer {
    width: 100%;
    padding: 3%;
}

.todoList {
    width: 37%;
    padding: 2%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 10px;
}

.todoList h1 {
    display: flex;
}

.todoList h1 img {
    width: 10%;
    margin-left: 5px;
}

.addItem {
    width: 100%;
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 40px;
    margin-bottom: 10%;
}

.addItem input {
    width: 75%;
    border: none;
    outline: none;
    padding: 3%;
    font-size: 17px;
    background-color: transparent;
    text-transform: capitalize;
}

.addItem button {
    width: 25%;
    background-color: #2463EB;
    border: none;
    outline: none;
    padding: 15px 16px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    border-radius: 40px;
}

#errorMsg {
    color: red;
    display: none;
}

input[type='text'] {
    border: none;
    outline: none;
    appearance: none;
    background: none;
    cursor: initial;
}

input[type='checkbox'],
input[type='radio'] {
    display: none;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #3A82EE;
    box-shadow: 0px 0px 4px rgba(58, 130, 238, 0.75);
}

.bubble::after {
    content: '';
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: #3A82EE;
    box-shadow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

input:checked ~ .bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.todo-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 15px;
}

.todo-item label {
    display: block;
    margin-right: 10px;
    cursor: pointer;
}

.todo-item .todo-content input {
    font-size: 17px;
    width: 100%;
    color: #313154;
}

.todo-content {
    width: 100%;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions i {
    display: block;
    padding: 10px;
    cursor: pointer;
}

.todo-item .actions i:first-child {
    color: green;
}

.todo-item .actions i:last-child {
    color: red;
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: grey;
}

.nothingYet {
    text-align: center;
    display: block;
}

.nothingYet img {
    width: 50%;
}